# job build image and push to ghcr.io
name: Build and Push Docker Image
on:
    push:
        branches:
          - master
    pull_request:
        branches:
          - master
jobs:
    build:
        runs-on: ubuntu-latest
          steps:
          - name: Checkout
              uses: actions/checkout@v2
          - name: Build and Push Docker Image
              uses: docker/build-push-action@v2
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: ghcr.io/Duckfish2002/webinar:latest
